<!DOCTYPE html>
<html>
  
<head>
  <title>SimpleCDN</title>
</head>
  
<body>
  <h1>SimpleCDN</h1>
  <p>A fast, open-source CDN to deliver files from GitHub, Bitbucket, and npm.</p>
  <h3>Delivering GitHub files</h3>
</body>
  
</html>
